
body,html{
    height: auto;
    background:#000; 
    background-size:cover;
}

#wrapper{padding:0;}

a.backlink{
    margin-top:13px;
    margin-right:0;
}

#header{height:100px; overflow:hidden; background:#fff;}

#header h1 {
    margin: 17px 0 0 20px;
}

iframe{border: 0;}